In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import jaccard_similarity_score

In [37]:
df = pd.read_csv("iris.csv",header = None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [38]:
headers = ["sepal_len","sepal_wid","petal_len","petal_wid","class"]
df.columns = headers
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid        class
0        5.1        3.5        1.4        0.2  Iris-setosa
1        4.9        3.0        1.4        0.2  Iris-setosa
2        4.7        3.2        1.3        0.2  Iris-setosa
3        4.6        3.1        1.5        0.2  Iris-setosa
4        5.0        3.6        1.4        0.2  Iris-setosa

In [39]:
unique_class = list(df["class"].unique())
unique_class

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [40]:
for index,name in enumerate(unique_class):
    df.loc[df["class"] == name,"class"] = index+1
    
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid class
0        5.1        3.5        1.4        0.2     1
1        4.9        3.0        1.4        0.2     1
2        4.7        3.2        1.3        0.2     1
3        4.6        3.1        1.5        0.2     1
4        5.0        3.6        1.4        0.2     1

In [41]:
list(df["class"].unique())

[1, 2, 3]

In [56]:
X = df.iloc[:,:4]
Y = df.iloc[:,-1]
Y = Y.astype(int)
X.head()

   sepal_len  sepal_wid  petal_len  petal_wid
0        5.1        3.5        1.4        0.2
1        4.9        3.0        1.4        0.2
2        4.7        3.2        1.3        0.2
3        4.6        3.1        1.5        0.2
4        5.0        3.6        1.4        0.2

In [44]:
df.isnull().count()

sepal_len    150
sepal_wid    150
petal_len    150
petal_wid    150
class        150
dtype: int64

In [45]:
X.shape

(150, 4)

In [46]:
#feature scaling
sc = StandardScaler()
sc.fit_transform(X)
X

     sepal_len  sepal_wid  petal_len  petal_wid
0          5.1        3.5        1.4        0.2
1          4.9        3.0        1.4        0.2
2          4.7        3.2        1.3        0.2
3          4.6        3.1        1.5        0.2
4          5.0        3.6        1.4        0.2
..         ...        ...        ...        ...
145        6.7        3.0        5.2        2.3
146        6.3        2.5        5.0        1.9
147        6.5        3.0        5.2        2.0
148        6.2        3.4        5.4        2.3
149        5.9        3.0        5.1        1.8

[150 rows x 4 columns]

In [60]:
#splitting into training and testing set
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size=0.2,random_state=0)

In [61]:
xtrain.shape

(120, 4)

In [63]:
#classify using logistic regression
lr = LogisticRegression(max_iter = 300)
lr.fit(xtrain,ytrain)
ypred = lr.predict(xtest)
jaccard_similarity_score(ytest,ypred)

d:\python\lib\site-packages\sklearn\metrics\_classification.py:660: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  warnings.warn('jaccard_similarity_score has been deprecated and replaced '

1.0

In [ ]:
disp = plot_confusion_matrix(classifier, xtest, ytest,
                                 display_labels=['',
                                 cmap=plt.cm.Blues,
                                 normalize=normalize)

In [64]:
#classify using naive bayes
nb = GaussianNB()
nb.fit(xtrain,ytrain)
ypred = nb.predict(xtest)
jaccard_similarity_score(ytest,ypred)

d:\python\lib\site-packages\sklearn\metrics\_classification.py:660: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  warnings.warn('jaccard_similarity_score has been deprecated and replaced '

0.9666666666666667

In [69]:
#classify using KNN
knn = KNeighborsClassifier(n_neighbors = 7,p=2)
nb.fit(xtrain,ytrain)
ypred = nb.predict(xtest)
jaccard_similarity_score(ytest,ypred)

d:\python\lib\site-packages\sklearn\metrics\_classification.py:660: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  warnings.warn('jaccard_similarity_score has been deprecated and replaced '

0.9666666666666667